# Environment variables
.env
.env.local
.env.*

# Dependencies
node_modules/
dist/
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
*.pem
.idea/
.vscode/

# Solana specific
.anchor
target/
test-ledger/

# TypeScript
*.tsbuildinfo
.next/ 